        <div class="game-table">
          <div class="player-part">
          <% if (result === 'player') { %>
            <div class="shadow-container"><div class="result-shadow shadow-first"></div></div>
              <% } %>
          
            <h2>You picked</h2>
            <div class="player-part__image <%= buttonClicked %>">
              <img src="images/icon-<%= buttonClicked %>.svg" alt="Icon <%= buttonClicked %>"/>
              </div>

            
          </div>
          <div class="result">
            <h1 class="result-header">
              <% if (result === 'player') { %>
                You win
              <% } else if (result === 'computer') { %>
                You lose
              <% } else { %>
                Draw
              <% } %>
           </h1>
          <form class="play-again" action="/" method="post">
            <button class="button result-button" type="submit" name="again">Play again</button>
          </form>
        </div>
        <div class="comp-part">
        <% if (result === 'computer') { %>
           <div class="shadow-container"><div class="result-shadow shadow-first"></div></div>
              <% } %>
          <h2>The house picked</h2>
          <div class="comp-part__shadow"></div>
          <div class="comp-part__image <%= compChoice %>">
           <img src="images/icon-<%= compChoice %>.svg" alt="Icon <%= compChoice %>"/>
                 </div>

    
     
        </div>
        </div>
        