<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  
  <title>Frontend Mentor | Rock, Paper, Scissors</title>
  <body>
    <section class="main">
        <div class="score-table">
            <div class="score-table__list">
                <ul>
                    <li>Rock</li>
                    <li>Paper</li>
                    <li>Scissors</li>
                    <% if (gameType === 5) { %>
                    <li>Lizard</li>
                    <li>Spock</li>
                    <% } %>
                </ul>
            </div>
            <div class="score-table__number">
                <p>Score</p>
                <p id="score-number"><%= score %></p>
            </div>
        </div>
        <% if (buttonClicked === '') { %>
        <% if (gameType === 5) { %>
        <%- include("options-5") -%>
         <% } else { %>
          <%- include("options-3") -%>
        <% }} else { %>
        <%- include("check") -%>
        <% } %>
        
        <div class="rules">
            <button id="<%= gameType %>" onclick = "basicPopup(this.href, this.id); return false">Rules</button>
        </div>
        <form class="options" action="/" method="post">
        <button type="submit" name="<%= gameType %>">Change game type (<%= gameType %>)</button>
        </form>
    </section>

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>

  <script src="script/script.js"></script>
</body>
</html>